#h0tbot {
    position:fixed;
    bottom:100px;
    right:23px;
    width:400px;
    display:none;
    border-radius: 16px;
    overflow: hidden;
}

#h0tbot h5 {
   font-size: 1.5em;
}

#h0tbot .h0tbot-header {
    padding:6px;
    padding-left:20px;
}
#h0tbot .h0tbot-body {
    height:26rem;
    background-color: #fff;
}
#h0tbot .messages {
    padding:10px;
    overflow-y:scroll;
    height:19rem;
}
#h0tbot .bubble {
    font-size: 1.2em;
    line-height: 1.2em;
    display: block;
    max-width: 80%;
    border-radius: 16px;
    padding: 8px 16px 16px 16px;
    margin: 8px 0px;
}
#h0tbot .from-bot {
    text-align: left;
    background-color: #2196f3;
    color: white;
    float: left;
    clear: left;
}
#h0tbot .from-user {
    text-align:right;
    background-color: #ddd;
    float:right;
    clear:right;
}
#addMsg {
    height: 5rem;
    position:relative;
    bottom:0;
    width: 90%;
    resize:none;
    border-radius:0px;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
}
.h0tbot-input {
    position: relative;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #aaa;
    padding: 1em 1em 0px 1em;
    float: left;
    width: 100%;
}

#send-icon {
    width: 10%;
    color: #aaa;
    cursor: auto;
    position: absolute;
    right: 0px;
    top: 1em;
}
